# JetBrains Rider settings
.idea/

/Analyx.CWX.Min.v11.suo

/Analyx.CWX.v11.suo
/Analyx.CWX.Common/obj
/Analyx.CWX.DB.Provider/bin
/Analyx.CWX.DB.Provider/obj
/Analyx.CWX.DB/bin
/Analyx.CWX.DB/obj
/Analyx.CWX.Logic/bin
/Analyx.CWX.Logic/obj
/Analyx.CWX.Model/bin
/Analyx.CWX.Model/obj 
/Analyx.CWX.MVC/bin
/Analyx.CWX.MVC/obj
/Analyx.CWX.Publish.Common/bin
/Analyx.CWX.Publish.Common/obj
/Analyx.CWX.Publish.Creator/obj
/Analyx.CWX.Publish.Creator/bin
/Analyx.CWX.Publish.Installer/bin
/Analyx.CWX.Publish.Installer/obj
/Analyx.CWX.Publish.RemotingInstaller/bin
/Analyx.CWX.Publish.RemotingInstaller/obj
/Analyx.CWX.Publish.RemotingPublisher/bin
/Analyx.CWX.Publish.RemotingPublisher/obj
/Analyx.CWX.Service/bin
/Analyx.CWX.Service/obj
/Analyx.CWX.UnitTests/bin
/Analyx.CWX.UnitTests/obj
/Analyx.CWX.ViewModel/bin
/Analyx.CWX.ViewModel/obj
/Analyx.CWX.Website/bin
/Analyx.CWX.Website/obj
/Analyx.CWX.IntegrationTests/bin
/Analyx.CWX.IntegrationTests/obj

/EmailTesting/bin
/EmailTesting/obj
/Tools/Analyx.CWX.SlidesTest/bin
/Tools/Analyx.CWX.SlidesTest/obj
/Tools/Analyx.CWX.WebStatus/bin
/Tools/Analyx.CWX.WebStatus/obj
/Tools/Analyx.NUnit.Reporting/bin
/Tools/Analyx.NUnit.Reporting/obj
/Tools/QueuedMailerRunner/bin
/Tools/QueuedMailerRunner/obj
/Tools/TestingConsole/bin
/Tools/TestingConsole/obj
/Tools/TestingForm/bin
/Tools/TestingForm/obj
/Analyx.CWX.Common/bin
/Analyx.CWX.Website/Scripts/app/legacy/StaticFiles/minify_*.js

/Analyx.CWX.Website/logs
/Analyx.CWX.Website/Content/img/Version
/Analyx.CWX.Website/Data/Minify.xml
/DataFeedsMoving/bin
/DataFeedsMoving/obj
/Analyx.CWX.Website/Analyx.CWX.Website.csproj.user
javascriptvalid_errors.xml
javascriptvalid.xml
Analyx.CWX.UnitTests/UnitTests.VisualState.xml
Analyx.CWX.UnitTests/TestResult.xml

Analyx.CWX.UnitTests/TestResult.xml
/Analyx.CWX.UnitTests/TestResult.xml
Analyx.CWX.UnitTests/UnitTests.VisualState.xml

Analyx.CWX.Website/Content/.sass-cache/

Analyx.CWX.DB.Provider/Analyx.CWX.DB.Provider.csproj.user

/EmailTesting/*.suo
/Tools/QueuedMailerRunner/*.suo

/Analyx.CWX.Service/Starters/InstallUtil.InstallLog

/Analyx.CWX.Service/Analyx.CWX.Service.csproj.user
/Analyx.CWX.Website/Properties/PublishProfiles/test.pubxml
/Analyx.CWX.Website/Properties/PublishProfiles/test.pubxml.user

*.user
*.suo
*.user

*css.map

/Analyx.CWX.Website/Scripts/CWX/StaticFiles/minify_CSSWritter.js
/Analyx.CWX.Website/Scripts/CWX/StaticFiles/minify_PageSizes.js
/Analyx.CWX.Website/Scripts/CWX/StaticFiles/minify_StaticConfig.js
/Analyx.CWX.Website/Scripts/CWX/StaticFiles/minify_ctr_layout.js

/Analyx.CWX.Website/Scripts/Globalization/cwxGlob.js
*.user
*.pubxml
/Analyx.CWX.UnitTests/UnitTests.VisualState.xml

/Analyx.CWX.Website/Public/Styles/ZStore/*.css
/Analyx.CWX.UnitTests/Analyx.CWX.UnitTests.csproj.user
/Analyx.CWX.Publish.Creator/Analyx.CWX.Publish.Creator.csproj.user
/Analyx.CWX.UnitTests/UnitTests.VisualState.xml

/Analyx.CWX.Publish.Creator/*.user


/Analyx.CWX.Website/Scripts/generated/*.js
/Analyx.CWX.Surveys/admin/styles/default/adminstyle.css
/Analyx.CWX.Surveys/templates/default/template.css


*.pubxml

/ServiceTestHarness/bin/Debug

/ServiceTestHarness/obj/Debug
/ServiceTestHarness/bin/Debug
/Analyx.CWX.Resources/bin
/Analyx.CWX.Resources/obj
/Tools/Analyx.CWX.DatabaseTranslationsToGettextConverter/bin
/Tools/Analyx.CWX.DatabaseTranslationsToGettextConverter/obj
/Tools/Analyx.CWX.GettextCollector/bin
/Tools/Analyx.CWX.GettextCollector/obj

/Analyx.CWX.Website/Public/Scripts/ZStore/*.js
/Analyx.CWX.Resources/bin
/Analyx.CWX.Resources/obj
/Tools/Analyx.CWX.DatabaseTranslationsToGettextConverter/bin
/Tools/Analyx.CWX.DatabaseTranslationsToGettextConverter/obj
/Tools/Analyx.CWX.GettextCollector/obj
/Tools/Analyx.CWX.GettextCollector/bin
/ServiceTestHarness/bin
/ServiceTestHarness/obj

/packages/Selenium.RC.2.32.1/Selenium.RC.2.32.1.nupkg
/packages/Selenium.RC.2.32.1/Selenium.RC.2.32.1.nuspec
/packages/Selenium.RC.2.32.1/lib/net35/ThoughtWorks.Selenium.Core.xml
/packages/Selenium.RC.2.32.1/lib/net40/ThoughtWorks.Selenium.Core.xml
/packages/Selenium.Support.2.32.1/Selenium.Support.2.32.1.nupkg
/packages/Selenium.Support.2.32.1/Selenium.Support.2.32.1.nuspec
/packages/Selenium.Support.2.32.1/lib/net35/WebDriver.Support.xml
/packages/Selenium.Support.2.32.1/lib/net40/WebDriver.Support.xml
/packages/Selenium.WebDriver.2.32.1/Selenium.WebDriver.2.32.1.nupkg
/packages/Selenium.WebDriver.2.32.1/Selenium.WebDriver.2.32.1.nuspec
/packages/Selenium.WebDriver.2.32.1/lib/net35/WebDriver.xml
/packages/Selenium.WebDriver.2.32.1/lib/net40/WebDriver.xml
/packages/Selenium.WebDriverBackedSelenium.2.32.1/Selenium.WebDriverBackedSelenium.2.32.1.nupkg
/packages/Selenium.WebDriverBackedSelenium.2.32.1/Selenium.WebDriverBackedSelenium.2.32.1.nuspec
/packages/Selenium.WebDriverBackedSelenium.2.32.1/lib/net35/Selenium.WebDriverBackedSelenium.xml
/packages/Selenium.WebDriverBackedSelenium.2.32.1/lib/net40/Selenium.WebDriverBackedSelenium.xml
/packages/NUnit.Snippets.0.80/
/Analyx.CWX.Selenium/bin
/Analyx.CWX.Selenium/obj

Analyx.CWX.Website/Scripts/tests/node_modules/
Analyx.CWX.Website/Scripts/tests/_build/
*.sass-cache/



/Analyx.CWX.LoadTesting/JMeter/apache-jmeter-2.9/docs/
/Analyx.CWX.DB/DBModel/CWXDB.dbml.layout
/Analyx.CWX.DB/DBModel/SurveyDB.dbml.layout

/Analyx.CWX.LoadTesting/JMeter/apache-jmeter-2.9/LICENSE
/Analyx.CWX.LoadTesting/JMeter/apache-jmeter-2.9/NOTICE
/Analyx.CWX.LoadTesting/JMeter/apache-jmeter-2.9/README
/Analyx.CWX.Website/log.txt
/Analyx.CWX.Website/Public/Scripts/ZStore

/Analyx.CWX.Website/log.txt
/Analyx.CWX.DB/DBModel/*.layout
/Analyx.CWX.Model/obj
*.user
*.user
*.user
CWXDB.dbml.layout
/Analyx.CWX.ConfigBuilder/ConfigBase/connectionStrings.config
/Analyx.CWX.ConfigBuilder/ConfigBase/mailServerSettings.config
/Analyx.CWX.ConfigBuilder/ConfigBase/resourceSettings.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Service/Analyx.CWX.Service.exe.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Service/cwxSettings.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Service/log4netCrowdWorxService.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Service/quartzCrowdWorxService.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Service/serviceSettings.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Website/cwxSettings.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Website/log4netCWX.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Website/menuSettingsBase.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Website/quartzCWX.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Website/Web.config
/Analyx.CWX.ConfigBuilder/ConfigBase/Variables.cs
/Analyx.CWX.ConfigBuilder/DemoVariables.cs
/Analyx.CWX.ConfigBuilder/VolkswagenVariables.cs
/Analyx.CWX.IntegrationTests/UnitTests.VisualState.xml
/Analyx.CWX.IntegrationTests/TestResult.xml
/Analyx.CWX.IntegrationTests/bin
/Analyx.CWX.IntegrationTests/obj
/Analyx.CWX.IntegrationTests/obj
/Analyx.CWX.IntegrationTests/bin
/Analyx.CWX.ConfigBuilder/obj
/Analyx.CWX.DataBase/obj
/Analyx.CWX.DataBase/bin
/Analyx.CWX.Config/bin
/Analyx.CWX.Config/obj
bin
obj
/Analyx.CWX.Website/Content/ImageCache
/Analyx.CWX.Website/Content/sass/libs/twitter-bootstrap-3.3
/Analyx.CWX.Min.sln
/Analyx.CWX.Website/Content/css/libs/forms/form-builder/forms-interface.css
.vs/config/applicationhost.config
/Analyx.CWX.Surveys/styles/Crowdworx_Admin/adminstyle.css

packages/
*.ncrunchproject
*.ncrunchsolution
.vs
.axoCover
PrecompiledWeb
_NCrunch_*
*.user.sln
*.user.config
*.orig

*.psess
*.vsp
*.backup

/Analyx.CWX.Website/config.current.txt
/Analyx.CWX.Website/App_Data/IdeaCenterReports/

/Analyx.CWX.Website/Scripts/typescript_output/
